<!DOCTYPE html>
<html>

<head>
    <title>
        MPN
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href='/assets/css/second.css' />
</head>


<body>
    <div class="container text-center secondpage-layout">
        <div class="row mt-5 mb-5">
            <% let arr1=[] %>
                <% let arr2=[] %>
                    <% if(id=='mpn' ){ %>
                        <% arr1=['S502 Primer','S503 Primer','S505 Primer','S506 Primer','S507 Primer','S508
                            Primer','S510 Primer','S511 Primer'] %>
                            <% arr2=['N701 Primer','N702 Primer','N703 Primer','N704 Primer','N705 Primer','N706
                                Primer','N707 Primer','N710 Primer','N711 Primer','N712 Primer','N714 Primer','N715
                                Primer'] %>
                                <h1>Sample Number: <input type="number" max="8" min="1" value="1"
                                        id="sampleNumberInput"></h1>
                                <% }else if(id=='leukemia' ){ %>
                                    <% arr1=['S505 Primer','S506 Primer','S507 Primer','S508 Primer'] %>
                                        <% arr2=['i701 Primer','i707 Primer','i708 Primer','i709 Primer','i710
                                            Primer','i711 Primer','i712 Primer'] %>
                                            <h1>Sample Number: <input type="number" max="22" min="1" value="1"
                                                    id="sampleNumberInput"></h1>
                                            <% }else{ %>
                                                <% arr1=['S502 Primer','S503 Primer','S505 Primer','S506 Primer','S507
                                                    Primer','S508 Primer','S510 Primer','S511 Primer'] %>
                                                    <% arr2=['N716 Primer','N718 Primer','N719 Primer','N720
                                                        Primer','N721 Primer','N722 Primer','N723 Primer','N724
                                                        Primer','N726 Primer','N727 Primer','N728 Primer','N729 Primer']
                                                        %>
                                                        <h1>Sample Number: <input type="number" max="24" min="1"
                                                                value="1" id="sampleNumberInput"></h1>
                                                        <% } %>
                                                            <span id="sampleNumberDisplay"></span>
        </div>
        <div id="btn-login" class="ShowUser"></div>
        <div class="row">
            <table class="demo">
                <tbody>
                    <tr>
                        <td rowspan="8">
                            <div class="row" style="width: 320px;">
                                <div class="col-md-6">
                                    <input type="checkbox" class="cbtest" id="pm1" />
                                    <button type="button" class="scircle btn-primary border-5">PCR Mix 1</button>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" class="cbtest" id="magn" />
                                    <button type="button" class="scircle btn-primary border-5">Magnetic
                                        beads</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="checkbox" class="cbtest" id="pm2" />
                                    <button type="button" class="scircle btn-primary border-5">PCR Mix 2</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="scircle btn-primary border-5"></button>
                                </div>
                            </div>
                        </td>
                        <% for (let i=0; i < 6; i++) { %>
                            <% if(i>=3 ) { %>
                                <td>
                                    <select class="select1" disabled>
                                        <% for(let k=0;k<arr1.length;k++){ %>
                                            <option value="<%= arr1[k] %>">
                                                <%= arr1[k] %>
                                            </option>
                                            <% } %>

                                    </select>
                                    <select class="select2" disabled>
                                        <% for(let k=0;k<arr2.length;k++){ %>
                                            <option value="<%= arr2[k] %>">
                                                <%= arr2[k] %>
                                            </option>
                                            <% } %>
                                    </select>
                                </td>
                                <% }else{ %>
                                    <td>
                                        <input type="text" class="customText" disabled>
                                    </td>
                                    <% } %>
                                        <% } %>
                    </tr>

                    <% for (let i=0; i < 7; i++) { %>
                        <tr>
                            <% for (let j=0; j < 6; j++) { %>
                                <% if(j>=3 ) { %>
                                    <td>
                                        <select class="select1" disabled>
                                            <% for(let k=0;k<arr1.length;k++){ %>
                                                <option value="<%= arr1[k] %>">
                                                    <%= arr1[k] %>
                                                </option>
                                                <% } %>

                                        </select>
                                        <select class="select2" disabled>
                                            <% for(let k=0;k<arr2.length;k++){ %>
                                                <option value="<%= arr2[k] %>">
                                                    <%= arr2[k] %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </td>
                                    <% }else{ %>
                                        <td>
                                            <input type="text" class="customText" disabled>
                                        </td>
                                        <% } %>
                                            <% } %>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="row mt-5 justify-content-between">
            <div class="col-2">
                <a href="/"><button type="button" class="prevPage btn-primary border-5">prevPage</button></a>
            </div>
            <div class="col-2">
                <button type="button" class="nextPage btn-primary border-5">nextPage</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/secondPage.js"></script>
</body>

</html>